/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');

/* Global Colors */

:root{
    --body: #fff;
    --text: #000;
    --shadow: #777;
    --buttonL: #f88;
    --buttonR: #88f;
}
.darkmode{
    --body: #222;
    --text: #fff;
    --shadow: #555;
    --buttonL: #405;
    --buttonR: #005;
}

/* Main Styles */



body,
html{
    margin: 0;
    background: var(--body);
    color: var(--text);
}

#A {
    height:fit-content;
}

main {
    height: auto;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* Content Boxes */

#Content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#ProjectContent {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    justify-content: flex-end;
    text-align: center;
    padding-bottom: 4em;
	bottom-padding: 2em
}

#Projects {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 50vh;
    padding-bottom: 2em;
    position: absolute;
    top: 70vh;
    width: 100vw;
}

.Project {
    display: flex;
    min-width: 6rem;
    max-width: 14rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align:center;
}

/* Social Media Buttons */

#Buttons {
    padding-bottom: 20px;
}

#Buttons > button {
    border: none;
    background: #00000000;
}

#Buttons > button > img {
    height: 2em;
}

#twitter:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(200deg) brightness(120%) contrast(97%);
}
#github:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(340deg) brightness(200%) contrast(97%);
}
#discord:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(230deg) brightness(120%) contrast(97%);
}
#twickd:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(340deg) brightness(120%) contrast(97%);
}

.DarkIcon > #twitter:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(10deg) brightness(120%) contrast(97%);
}
.DarkIcon > #github:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
.DarkIcon > #discord:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(50deg) brightness(120%) contrast(97%);
}
.DarkIcon > #twickd:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(140deg) brightness(120%) contrast(97%);
}

.DarkIcon {
    filter: invert()
}

/* Buttons */

#MainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(45deg, var(--buttonL), var(--buttonR));
    border: none;
    border-radius: 1em;
    transition: border-radius 1s ease, width 1s ease;
}

#MainButton:hover {
    transition: all 1s ease;
    border-radius: 4em;
    width: 10em;
}

.ProjectButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 5em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(45deg, var(--buttonL), var(--buttonR));
    border: none;
    border-radius: 1em;
    transition: border-radius 1s ease, width 1s ease;
}

.ProjectButton:hover {
    transition: all 1s ease;
    border-radius: 4em;
    width: 7em;
}



/* Spotify Now Playing */

#spotify {
	display:none;
	align-items:center;
	bottom: 0%;
	position: absolute;
}

#track {
  font-size: 12pt;
  padding-right: 1em;
}
#album {
  font-size: 7pt;
  display: none;
}
#artist {
  font-size: 9pt;
}
#text {
  font-family: 'Open Sans';
}
#art {
  height: 5em;
  width: 5em;
  padding: 1em;
}
label#progress {
	font-size: 1em;
}

/* Mobile Styles */
@media (pointer:none), (pointer:coarse) {
    #Projects{
        padding-bottom: 10vh;
        flex-direction: column;
        height: auto;
        width: 100vw
    }
    #track {
        width: 60vw
    }
    #statsfmlabel {
        width: 85vw;
    }
    #statsfm {
        padding-bottom: 0.5em;
    }
    #spotify {
        width: 100vw;
    }
    footer {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    body {
        margin-bottom: 40em;
    }
}


footer {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0em;
    width: 100vw;
}
/* Theme Button */

#theme {
    position: absolute;
    right: 1em;
    bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(45deg, var(--buttonL), var(--buttonR));
    border: none;
    border-radius: 1em;
}

#theme>img {
    filter: invert();
}

#theme:hover>img {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(50deg) brightness(400%) contrast(97%);
}

/* Spotify Now Playing */

#spotify {
    display: none;
    align-items: center;
    bottom: 1em;
    left: 1em;
    position: absolute;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
    margin: -1em;

}

#track {
    font-size: 1.25em;
    max-height: 3.7em;
    overflow: auto;
}

#album {
    display: none;
}

#artist {
    font-size: 0.75em;
}

#text {
    padding-left: 1em;
}

#art {
    height: 5em;
    width: 5em;
    border-radius: 2em;
}

label#progress {
    font-size: 0.75em;
}

#progressdiv {
    display: flex;
    align-items: center;
    font-weight: bold;
}

#length {
    background-color: #0003;
    height: 0.4em;
    width: 10em;
    border-radius: 1em;
    overflow: hidden;
    margin-right: 0.4em;
}
#lengthProg {
    background-color: #8f8bff;
    height: 100%;
    border-radius: 1em;
    filter: drop-shadow(0 0 2em #222);
}

#statsfm img {
    filter: invert(64%) sepia(80%) saturate(3697%) hue-rotate(212deg) brightness(104%) contrast(101%);
    height: 1em;
    margin-right: 1em;
}
#statsfm {
    display: none;
    align-items: center;
    position: absolute;
    bottom: 5em;
    left: 0.5em;
    margin-bottom: 1em;
}

#statsfm:hover label {
    display: block;
}

#statsfmlabel {
    display: none;
    position: absolute;
    width: 16em;
    background-color: var(--body-trans);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0.5em;
    border-radius: 1em;
    border: var(--shadow) 2px solid;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 0.8em;
    left: -0.1em;
}
#statsfmlabel>a {
    color: #8f8bff;
    text-decoration: dotted;
}

body {
    padding-bottom: 25em;
}