/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');

/* Global Colors */

:root{
    --body: #fff;
    --text: #000;
    --shadow: #777;
    --buttonL: #f88;
    --buttonR: #88f;
    --TbuttonL: #ff1;
    --TbuttonR: #ff8;
    --github: var(--text);
    --twitter: var(--text);
    --discord: var(--text);
    --twickd: var(--text);
    --theme: var(--text);
}
.darkmode{
    --body: #222;
    --text: #fff;
    --shadow: #555;
    --buttonL: #405;
    --buttonR: #005;
    --TbuttonL: #005;
    --TbuttonR: #405;
    --github: var(--text);
    --twitter: var(--text);
    --discord: var(--text);
    --twickd: var(--text);
    --theme: var(--text);
}

/* Main Styles */



body,
html{
    margin: 0;
    background: var(--body);
    color: var(--text);
}

#A {
    height:fit-content;
}

main {
    height: auto;
    font-family: 'Roboto', sans-serif;
    filter: drop-shadow(0px 0px 0.1px var(--shadow));
}

p {
    font-family: 'Open Sans', sans-serif;
}

footer {
	filter: drop-shadow(0px 0px 5px var(--shadow));
}

/* Content Boxes */

#Content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 5px var(--shadow));
    text-align: center;
}

#ProjectContent {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    justify-content: flex-end;
    filter: drop-shadow(0px 0px 5px var(--shadow));
    text-align: center;
    padding-bottom: 4em;
    width: 100vw
}

#Projects {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: 0vh;
    max-height: 100vh;
    width: 100vw
}

.Project {
    display: flex;
    min-width: 6rem;
    max-width: 14rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align:center;
    filter: drop-shadow(0px 0px 5px var(--shadow));
}

/* Social Media Buttons */

#Buttons {
    padding-bottom: 20px;
}

#Buttons > button {
    border: none;
    background: #00000000;
}

#Buttons > button > img {
    height: 2em;
}

#twitter:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(200deg) brightness(120%) contrast(97%);
}
#github:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(340deg) brightness(200%) contrast(97%);
}
#discord:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(230deg) brightness(120%) contrast(97%);
}
#twickd:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(340deg) brightness(120%) contrast(97%);
}

.DarkIcon > #twitter:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(10deg) brightness(120%) contrast(97%);
}
.DarkIcon > #github:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
.DarkIcon > #discord:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(50deg) brightness(120%) contrast(97%);
}
.DarkIcon > #twickd:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(140deg) brightness(120%) contrast(97%);
}

.DarkIcon {
    filter: invert()
}

/* Buttons */

#MainButton {
    display: flex;
    background: linear-gradient(45deg, var(--buttonL), var(--buttonR));
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 15%;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    border: none;
    align-items: center;
    transition: width 1s;
}

#MainButton:hover {
    width: 20%;
    transition: all 1s;
}

.ProjectButton {
    display: flex;
    background: linear-gradient(45deg, var(--buttonL), var(--buttonR));
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 5em;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    border: none;
    align-items: center;
    transition: all 1s;
}

.ProjectButton:hover {
    width: 7em;
    transition: all 1s;
}

/* Theme Button */

#theme {
	display:flex;
	justify-content: center;
	border-radius: 50px;
	position: fixed;
	right: 1em;
	bottom: 1em;
	background: linear-gradient(45deg, var(--buttonL), var(--buttonR));
	border: none;
	height: 40px;
	width: 40px;
}

#theme > img {
    height: inherit;
    filter: invert();
}

#theme:hover > img {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(50deg) brightness(400%) contrast(97%);
}
#ThemeContainer {
    filter: drop-shadow(0px 0px 5px var(--shadow));
}

/* Spotify Now Playing */

#spotify {
	display:none;
	align-items:center;
	bottom: 0%;
	position: absolute;
}

#track {
  font-size: 12pt;
  padding-right: 1em;
}
#album {
  font-size: 7pt;
  display: none;
}
#artist {
  font-size: 9pt;
}
#text {
  font-family: 'Open Sans';
}
#art {
  height: 5em;
  width: 5em;
  padding: 1em;
}
label#progress {
	font-size: 1em;
}

/* Mobile Styles */

@media (min-height:1080px) {
	
	html:not(#A) {
	overflow:initial;
	}

	main {
    	justify-content: center;
	}
	content: {
		width: 95vw;
	}
    h1 {
        font-size: 8vw;
    }
    #Buttons > button > img {
        height: 4em;
    }
    #MainButton {
        width: 30%;
        height: 80px;
        font-size: 2rem;
    }
    .ProjectButton {
        width: 30%;
        height: 80px;
        font-size: 2rem;
    }
    #theme {
        height: 80px;
        font-size: 2rem;
    }
    p {
        font-size: 3rem;
    }
    #ProjectContent {
        height: 60vh;
    }
    #Projects{
        padding-bottom: 10vh;
        flex-direction: column;
        height: auto;
    }
    #ThemeContainer {
        height: auto;
    }
    .Project {
        min-width: 75vw;
    }
	div#spotify {
	    width: 75vw;
	}
	progress#length {
	    width: 80%;
	    height: 2em;
	}
	
	label#progress {
	    font-size: 2em;
	}
	#text {
		width: 50vw;
	}
	#track {
		font-size: 4em;
	}
	#artist {
		font-size: 3em;
	}
	#art {
		width: 10em;
		height: 10em;
	}
}
