/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');

/* Global Colors */

:root {
    --body: #fff;
    --text: #000;
    --shadow: #777;
    --buttonL: #f88;
    --buttonR: #88f;
}

.darkmode {
    --body: #222;
    --text: #fff;
    --shadow: #555;
    --buttonL: #405;
    --buttonR: #005;
}

/* Main Styles */

html,
body {
    height: 100%;
    margin: 0px;
    background: var(--body);
    color: var(--text);
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 5px var(--shadow));
}

#ProjectsMain {
    top: 25vh;
    position: relative;
    padding-bottom: 5em;
}

footer {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0%;
    width: 100vw;
    filter: drop-shadow(0px 0px 5px var(--shadow));
}

/* Text Styles */

h1,
h2,
label {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* Buttons */

#MainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(45deg, var(--buttonL), var(--buttonR));
    border: none;
    border-radius: 2em;
    transition: width 1s;
}

#MainButton:hover {
    transition: width 1s;
    width: 10em;
}

/* Projects Page */

#ProjectsMain>#MainButton {
    padding-block: 1em;
}

#Projects {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    min-width: 7em;
    max-width: 14em
}

.ProjectButton {
    display: flex;
    background: linear-gradient(45deg, var(--buttonL), var(--buttonR));
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 5em;
    height: 3em;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    border: none;
    align-items: center;
    transition: all 1s;
}

.ProjectButton:hover {
    width: 7em;
    transition: all 1s;
}

/* Link Buttons */

#Buttons {
    padding-bottom: 1em;
}

#Buttons>button {
    background: transparent;
    border: none;
}

#twitter:hover {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(180deg)
}

#github:hover {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(310deg)
}

#discord:hover {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(210deg)
}

#twickd:hover {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(220deg)
}


.DarkIcon {
    filter: invert()
}

#Buttons>button>img {
    width: 2em;
}

#discord {
    width: 2.25em !important;
}

/* Theme Button */

#theme {
    position: absolute;
    right: 1em;
    bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(45deg, var(--buttonL), var(--buttonR));
    border: none;
    border-radius: 2em;
}

#theme>img {
    filter: invert();
}

#theme:hover>img {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(50deg) brightness(400%) contrast(97%);
}

/* Spotify Now Playing */

#spotify {
    display: none;
    align-items: center;
    bottom: 1em;
    left: 1em;
    position: absolute;
}

#track {
    font-size: 1.25em;
}

#album {
    display: none;
}

#artist {
    font-size: 0.75em;
}

#text {
    padding-left: 1em;
}

#art {
    height: 5em;
    width: 5em;
    border-radius: 1em;
}

label#progress {
    font-size: 0.75em;
}

/* Mobile Styles */

@media only screen and (max-width:600px) {
    #Projects {
        flex-direction: column;
    }

    #Projects {
        padding-bottom: 10vh;
        flex-direction: column;
        height: auto;
    }

    .Project {
        min-width: 75vw;
    }

    #ProjectsMain {
        top: 75vh
    }
}

input[type="range"] {
  border: none;
  height: 0.5em;
  border-radius: 1em;
  overflow: hidden;
  -webkit-appearance: none;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0.5em;
  width: 0.8em;
  background: #8f8bff;
  border-radius: 0.2em;
  filter: drop-shadow(0 0 2em #222);
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #fff;
  filter: drop-shadow(0 0 2em #222);
}

input[type="range"]::-moz-range-progress {
  background-color: #8f8bff;
  height: 0.5em;
  border-radius: 1em
}
input[type="range"]::-moz-range-track {
  background-color: transparent;
}
input[type="range"]::-moz-range-thumb{
  background: transparent;
  border: none
}
