/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');

/* Global Colors */

:root{
    --body: #fff;
    --text: #000;
    --shadow: #777;
    --buttonL: #f88;
    --buttonR: #88f;
    --TbuttonL: #ff1;
    --TbuttonR: #ff8;
    --github: var(--text);
    --twitter: var(--text);
    --discord: var(--text);
    --twickd: var(--text);
    --theme: var(--text);
}
.darkmode{
    --body: #222;
    --text: #fff;
    --shadow: #555;
    --buttonL: #405;
    --buttonR: #005;
    --TbuttonL: #005;
    --TbuttonR: #405;
    --github: var(--text);
    --twitter: var(--text);
    --discord: var(--text);
    --twickd: var(--text);
    --theme: var(--text);
}

/* Main Styles */

html:not(#A) {
    overflow:hidden;
}

body,
html{
    margin: 0;
    background: var(--body);
    color: var(--text);
}

#A {
    height:fit-content;
}

main {
    height: auto;
    font-family: 'Roboto', sans-serif;
    filter: drop-shadow(0px 0px 0.1px var(--shadow));
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* Content Boxes */

#Content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 0.1px var(--shadow));
    text-align: center;
}

#ProjectContent {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    justify-content: flex-end;
    filter: drop-shadow(0px 0px 0.1px var(--shadow));
    text-align: center;
    padding-bottom: 4em;
}

#Projects {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.Project {
    display: flex;
    min-width: 6rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align:center;
}

/* Social Media Buttons */

#Buttons {
    padding-bottom: 20px;
}

#Buttons > button {
    border: none;
    background: #00000000;
}

#Buttons > button > img {
    height: 2em;
}

#twitter:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(200deg) brightness(120%) contrast(97%);
}
#github:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(340deg) brightness(200%) contrast(97%);
}
#discord:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(230deg) brightness(120%) contrast(97%);
}
#twickd:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(340deg) brightness(120%) contrast(97%);
}

.DarkIcon > #twitter:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(10deg) brightness(120%) contrast(97%);
}
.DarkIcon > #github:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
.DarkIcon > #discord:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(50deg) brightness(120%) contrast(97%);
}
.DarkIcon > #twickd:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(140deg) brightness(120%) contrast(97%);
}

.DarkIcon {
    filter: invert()
}

/* Buttons */

#MainButton {
    display: flex;
    background: linear-gradient(45deg, var(--buttonL), var(--buttonR));
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 15%;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    border: none;
    align-items: center;
    transition: width 1s;
}

#MainButton:hover {
    width: 20%;
    transition: all 1s;
}

.ProjectButton {
    display: flex;
    background: linear-gradient(45deg, var(--buttonL), var(--buttonR));
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 5em;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    border: none;
    align-items: center;
    transition: all 1s;
}

.ProjectButton:hover {
    width: 7em;
    transition: all 1s;
}

/* Theme Button */

#theme {
    position: fixed;
    right: 0.25em;
    bottom: 0.25em;
    border-radius: 50px;
    border: none;
    background: linear-gradient(45deg, var(--TbuttonL), var(--TbuttonR));
}

#theme > img {
    height: inherit;
    filter: invert();
}

#theme:hover > img {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(50deg) brightness(400%) contrast(97%);
}

#ThemeContainer {
    display: flex;
    height: 40vh;
    flex-direction: row-reverse;
}

/* Mobile Styles */

@media (min-height:1080px) {

    h1 {
        font-size: 5rem;
    }
    #Buttons > button > img {
        height: 4em;
    }
    #MainButton {
        width: 30%;
        height: 80px;
        font-size: 2rem;
    }
    .ProjectButton {
        width: 30%;
        height: 80px;
        font-size: 2rem;
    }
    #theme {
        height: 80px;
        font-size: 2rem;
    }
    p {
        font-size: 3rem;
    }
    #ProjectContent {
        height: 60vh;
    }
    #Projects{
        padding-bottom: 10vh;
        flex-direction: column;
    }
    #ThemeContainer {
        height: auto;
    }
    .Project {
        min-width: 75vw;
    }
}
